.result-box {
  box-shadow: 0px -1px 15px 7px rgba(255,131,124,0.16);
  width: 400px;
  padding: 50px;
  border-radius: 10px;
  display: grid;
  place-content: center;
  text-align: center;
}

.result-box .teacher-name{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #613159 ;
}

.result-box .student-name {
  font-family: 'Lato', sans-serif;
  color: #613159 ;
  font-size: 24px;
}

.number-box {
  box-shadow: 0px -1px 15px 7px rgba(255,131,124,0.16);
  width: 200px;
  padding: 50px;
  border-radius: 10px;
}

.hexagon {
  border-radius: 50%;
  background-color: #DA3434;
  width: 178px;
  height: 178px;
  display: grid;
  place-content: center;
}

p.grade {
  font-size: 98px;
  font-family: 'Oleo Script', cursive;
  color: white;
}

.result-box .result-text-box {
  padding: 0;
}

.result-box .result-text-box p{
  font-size: 20px;
  color: #613159 ;
  margin-bottom: 0;
}

.result-box .result-text-box .result-text{
  font-size: 32px;
  color: #CD526A;
  font-family: 'Oleo Script', cursive;
  margin-top: 0;
}